<!DOCTYPE html>
<html ng-app="mecab-translate">
<head>
    <meta charset="utf-8">
    <title>mecab-translate</title>
    <link href="stylesheets/client.css" rel="stylesheet" type="text/css">
    <script src="vendor/angular.min.js"></script>
</head>
<body keypress-events>
    <!-- Text input box -->
    <div ng-controller="Input">
        <textarea ng-model="textInput" ng-change="analyze()" id="text-input"></textarea>
        <div id="input-history">
            <button title="Alt+1" id="input-history-back" class="medium-size" ng-click="analyzeHistory(-1)" disabled>&#8678;</button>
            <button title="Alt+2" id="input-history-forward" class="medium-size" ng-click="analyzeHistory(1)" disabled>&#8680;</button>
        </div>
    </div>
    <!-- Analyzed output -->
    <div ng-controller="Output" ng-mouseup="translateSelection()">
        <select ng-model="ttsProvider" ng-change="updateTts()">
            <option value="responsivevoice">ResponsiveVoice (internet connection required)</option>
            <option ng-repeat="v in voices" value="tts.{{v.id}}">{{v.desc}}</option>
            <option value="remotetts">Remote SAPI5 on localhost port 9871</option>
        </select>
        <div id="output">
            <div
                ng-class="mouseInside ? 'bg-highlight' : ''"
                ng-repeat="line in lines track by $index"
                ng-mouseenter="mouseInside = true"
                ng-mouseleave="mouseInside = false"
                ng-init="ttsRow = $index">
                <div class="tts-button" ng-class="mouseInside ? '' : 'hide'">
                    <button ng-click="TTS(line, true); updateRow(ttsRow)">TTS</button>
                </div>
                <div class="line" ng-class="'row-' + $index">
                    <span
                        class="clickable word"
                        ng-repeat="word in line"
                        ng-class="posClass(word.pos)"
                        ng-attr-title="{{posClass(word.pos)}}"
                        ng-click="showWordInfo(word)"><span
                            class="character"
                            ng-repeat="char in word.literal track by $index"
                            ng-click="setKanjivgChar(char); getKanjidic2(char)">{{char}}</span></span>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div ng-if="word.pos" class="mecab-info">
                <b>Pos: </b>{{word.pos}}, {{word.pos2}}, {{word.pos3}}, {{word.pos4}}
                <b>Infl.: </b>{{word.inflection_type}}, {{word.inflection_form}}
                <b>Lemma: </b>{{word.lemma}}
                <b>Reading: </b><button ng-if="word.hatsuon" ng-click="TTS(word.hatsuon)">{{word.reading}}</button>
            </div>
            <hr>
            <div>
                <object
                    id="kanjivg"
                    type="image/svg+xml"
                    height="200px"
                    width="200px"
                    ng-init="kanjivgUrl = 'kanji/0002e.svg'"
                    ng-show="kanjivgUrl !== 'kanji/0002e.svg'"
                    ng-attr-data="{{kanjivgUrl}}"></object>
                <table ng-if="kanjidicInfo.literal" class="kanjidic-info">
                    <tr>
                        <td><b>Kanji</b></td>
                        <td>{{kanjidicInfo.literal}}</td>
                    </tr>
                    <tr>
                        <td><b>Meaning</b></td>
                        <td>
                            <span ng-repeat="meaning in kanjidicInfo.meaning">
                                <span class="important">{{meaning}}</span><span ng-if="!$last">, </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Kun</b></td>
                        <td>
                            <span ng-repeat="kun in kanjidicInfo.kun">
                                <span class="important">{{kun}}</span><span ng-if="!$last">, </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>On</b></td>
                        <td>
                            <span ng-repeat="on in kanjidicInfo.on">
                                <span class="important">{{on}}</span><span ng-if="!$last">, </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Nanori</b></td>
                        <td>
                            <span ng-repeat="nanori in kanjidicInfo.nanori">
                                <span class="important">{{nanori}}</span><span ng-if="!$last">, </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Freq.</b></td>
                        <td ng-style="{'color': blend([255,0,0], [0,0,0], (kanjidicInfo.freq || 2500)/2500)}">{{kanjidicInfo.freq}}</td>
                    </tr>
                    <tr>
                        <td><b>Strokes</b></td>
                        <td>{{kanjidicInfo.stroke_count}}</td>
                    </tr>
                </table>
                <form ng-if="kanjivgParts">
                    <label ng-repeat="part in kanjivgParts track by $index">
                        <input
                            type="checkbox"
                            ng-model="selectedKanjivgParts[$index]"
                            value="{{part}}"
                            ng-click="getKanjiVGCombinations()"
                        > <span ng-mouseenter="getKanjidic2(part)" ng-mouseleave="getKanjidic2(kanji)">{{part}}</span>
                    </label>
                </form>
                <span
                    ng-repeat="k in kanjivgCombinations"
                    class="clickable"
                    ng-style="{'color': blend([255,0,0], [0,0,0], k[1]/2500), 'font-size': (1.25 - (k[1]/2500) * 0.25) * 100 + '%' }"
                    ng-click="setKanjivgChar(k[0]); getKanjidic2(k[0])"
                    ng-mouseenter="getKanjidic2(k[0])"
                    ng-mouseleave="getKanjidic2(kanji)">{{k[0]}} </span>
            </div>
        </div>
    </div>
    <hr>
    <!-- Translation -->
    <div ng-controller="Translation">
        <div ng-if="shorterEntries" class="warning">
            No exact matches! Did you mean...
        </div>
        <ul>
            <li ng-repeat="entry in entries">
                <div style="font-size: 28px">
                    <span ng-repeat="word in entry.words">
                        <span
                            ng-class="{'common': isCommon(word)}"
                            ng-attr-title="{{word.pri.join(', ')}}"
                        ><span ng-repeat="char in word.text track by $index" class="clickable" ng-click="setKanjivgChar(char); getKanjidic2(char)">{{char}}</span></span><span
                            ng-if="word.inf.length"
                            class="unobtrusive"
                        >(<span ng-repeat="inf in word.inf"><span class="abbr" ng-attr-title="{{inf[1]}}">{{inf[0]}}</span><span ng-if="!$last">, </span></span>)</span><span
                            ng-if="!$last"
                        >, </span>
                    </span>
                </div>
                <div ng-style="{'font-size': entry.words.length ? '20px' : '28px'}">
                    <span ng-repeat="reading in entry.readings">
                        <span
                            class="clickable"
                            ng-class="{'common': isCommon(reading)}"
                            ng-attr-title="{{reading.pri.join(', ')}}"
                            ng-click="translate(reading.text)"
                        >{{reading.text}}</span><span
                            ng-if="reading.inf.length"
                            class="unobtrusive"
                        >(<span ng-repeat="inf in reading.inf"><span class="abbr" ng-attr-title="{{inf[1]}}">{{inf[0]}}</span><span ng-if="!$last">, </span></span>)</span><span
                            ng-if="reading.restr.length"
                            class="unobtrusive"
                        >({{reading.restr.join(', ')}})</span><span
                            ng-if="!$last"
                        >, </span>
                    </span>
                </div>
                <ol>
                    <li ng-repeat="translation in entry.translations">
                        <span ng-repeat="pos in translation.pos"><span class="abbr part-of-speech" ng-attr-title="{{pos[1]}}">{{pos[0]}}</span><span ng-if="!$last">, </span></span>
                        <span ng-if="translation.stagk.length" class="unobtrusive">({{translation.stagk.join(', ')}} only)</span>
                        <span ng-if="translation.stagr.length" class="unobtrusive">({{translation.stagr.join(', ')}} only)</span>
                        <span ng-if="translation.misc.length" class="unobtrusive">
                            (<span ng-repeat="misc in translation.misc"><span class="abbr" ng-attr-title="{{misc[1]}}">{{misc[0]}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-if="translation.s_inf.length" class="unobtrusive">({{translation.s_inf.join(', ')}})</span>
                        <span ng-if="translation.dial.length" class="unobtrusive">
                            (<span ng-repeat="dial in translation.dial"><span class="abbr" ng-attr-title="{{dial[1]}}">{{dial[0]}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-if="translation.field.length" class="unobtrusive">
                            {<span ng-repeat="field in translation.field"><span class="abbr" ng-attr-title="{{field[1]}}">{{field[0]}}</span><span ng-if="!$last">, </span></span>}
                        </span>
                        <span ng-if="translation.xref.length" class="unobtrusive">(See
                            <span ng-repeat="xref in translation.xref"><span ng-click="translate(parseReference(xref))" class="clickable reference">{{xref}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-if="translation.ant.length" class="unobtrusive">(ant:
                            <span ng-repeat="ant in translation.ant"><span ng-click="translate(parseReference(ant))" class="clickable reference">{{ant}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-repeat="gloss in translation.gloss" class="translation">
                            <span class="important">{{gloss}}</span><span ng-if="!$last">, </span>
                        </span>
                        <span ng-if="translation.lsource.length" ng-repeat="lsource in translation.lsource" class="unobtrusive">({{lsource.join(': ')}})</span>
                        <span class="unobtrusive clickable reference" ng-if="translation.example" ng-click="translation.showExample = !translation.showExample">[example]</span>
                        <span ng-if="translation.showExample" class="unobtrusive">
                            <br>
                            <span ng-repeat="part in translation.example.jpn track by $index" ng-style="{'color': part.form ? 'red' : ''}">{{part.text}}</span>
                            <br>
                            <span>{{translation.example.eng}}</span>
                        </span>
                    </li>
                </ol>
                <hr ng-if="!$last">
            </li>
        </ul>
        <hr>
        <!-- add more -->
        <div>
            <button ng-if="!phraseExampleButtonClicked && query" ng-click="getPhraseExamples()">Examples for {{query}}</button>
            <ul>
                <li ng-repeat="example in phraseExamples">
                    <div ng-if="example.message">{{example.message}}</div>
                    <div style="font-size: 24px;">
                        <span ng-repeat="part in example.jpn track by $index" ng-style="{'color': part == query ? 'red' : ''}">{{part}}</span>
                    </div>
                    <div>{{example.eng}}</div>
                    <hr ng-if="!$last">
                </li>
            </ul>
            <button
                ng-if="phraseExampleStart >= 40"
                ng-click="getPhraseExamples(true, true)"
            >Previous 20</button>
            <button
                ng-if="phraseExampleButtonClicked && phraseExamples.length >= 5"
                ng-click="getPhraseExamples(true)"
                >{{phraseExamples.length == 5 ? 'More' : 'Next 20'}}</button>
        </div>
        <hr>
        <div>
            <button ng-click="showLongerEntries()" ng-if="longerEntries.length">More words starting with {{query}} ({{longerEntries.length}})</button>
            <div ng-repeat="entry in longerEntryListing"><span class="clickable" ng-click="translate(entry)">{{entry}}</span></div>
        </div>
    </div>

<script src="client.js"></script>
<script src="controllers/input.js"></script>
<script src="controllers/output.js"></script>
<script src="controllers/translation.js"></script>

<script src="services/mecab.js"></script>
<script src="services/jmdict_e.js"></script>
<script src="services/kanjidic2.js"></script>
<script src="services/kanjivg.js"></script>
<script src="services/tatoeba.js"></script>
<script src="services/phrase.js"></script>
<script src="services/kanjivgparts.js"></script>
<script src="services/responsivevoice.js"></script>
<script src="services/remotetts.js"></script>
<script src="services/tts.js"></script>
<script src="services/tts_events.js"></script>
<script src="services/helpers.js"></script>
</body>
</html>
