<!DOCTYPE html>
<html ng-app="mecab-translate">
<head>
    <meta charset="utf-8">
    <title>mecab-translate</title>
    <link href="stylesheets/client.css" rel="stylesheet" type="text/css">
    <script src="vendor/angular.min.js"></script>
</head>
<body>
    <!-- Text input box -->
    <div ng-controller="Input">
        <textarea ng-model="textInput" ng-change="analyze()" id="text-input"></textarea>
    </div>
    <!-- Analyzed output -->
    <div ng-controller="Output" ng-mouseup="translateSelection()">
        <div id="output">
            <span
                class="molecule"
                ng-repeat="word in words"
                ng-class="posClass(word.pos)"
                ng-attr-title="{{posClass(word.pos)}}"
                ng-click="showInfo(word); translate(word.lemma)"
                ng-mouseenter="showReading(word.reading)"
                ng-mouseleave="showReading('-')"><span
                    class="atom"
                    ng-repeat="char in word.literal track by $index"
                    ng-click="getKanjidic2(char)">{{char}}</span></span>
        </div>
        <div ng-init="reading = '-'">{{reading}}</div>
        <div>
            <table ng-if="word.pos" style="display: inline-block;">
                <tr>
                    <td><b>Pos</b></td>
                    <td>{{word.pos}}, {{word.pos2}}, {{word.pos3}}, {{word.pos4}}</td>
                </tr>
                <tr>
                    <td><b>Infl.</b></td>
                    <td>{{word.inflection_type}}, {{word.inflection_form}}</td>
                </tr>
                <tr>
                    <td><b>Lemma</b></td>
                    <td>{{word.lemma}}</td>
                </tr>
                <tr>
                    <td><b>Reading</b></td>
                    <td>{{word.reading}}</td>
                </tr>
            </table>
            <object
                id="kanjivg"
                type="image/svg+xml"
                height="200px"
                width="200px"
                ng-init="kanji = 'kanji/0002e.svg'"
                ng-show="kanji !== 'kanji/0002e.svg'"
                ng-attr-data="{{kanji}}"></object>
            <table ng-if="kanjidicInfo.literal" style="display: inline-block; max-width: 400px;">
                <tr>
                    <td><b>Kanji</b></td>
                    <td>{{kanjidicInfo.literal}}</td>
                </tr>
                <tr>
                    <td><b>Meaning</b></td>
                    <td>{{kanjidicInfo.meaning.join(', ')}}</td>
                </tr>
                <tr>
                    <td><b>Kun</b></td>
                    <td>{{kanjidicInfo.kun.join(', ')}}</td>
                </tr>
                <tr>
                    <td><b>On</b></td>
                    <td>{{kanjidicInfo.on.join(', ')}}</td>
                </tr>
                <tr>
                    <td><b>Nanori</b></td>
                    <td>{{kanjidicInfo.nanori.join(', ')}}</td>
                </tr>
                <tr>
                    <td><b>Freq.</b></td>
                    <td>{{kanjidicInfo.freq}}</td>
                </tr>
                <tr>
                    <td><b>Strokes</b></td>
                    <td>{{kanjidicInfo.stroke_count}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Translation -->
    <div ng-controller="Translation">
        <ul>
            <li ng-repeat="entry in entries">
                <div ng-if="entry.common" style="color: green;">common word</div>
                <div style="font-size: 28px" ng-bind-html="entry.words.map(w).join('; ') | unsafe"></div>
                <div style="font-size: 20px" ng-bind-html="entry.readings.map(r).join('; ') | unsafe"></div>
                <ul>
                    <li ng-repeat="translation in entry.translations">
                        <div style="color: blue;">{{translation.parts_of_speech.join(', ')}}</div>
                        <div ng-bind-html="$index + 1 + '. ' + d(translation.definition) | unsafe"></div>
                    </li>
                </ul>
                <hr ng-if="!$last">
            </li>
        </ul>
    </div>

<script src="client.js"></script>
<script src="controllers/input.js"></script>
<script src="controllers/output.js"></script>
<script src="controllers/translation.js"></script>

<script src="services/mecab.js"></script>
<script src="services/edict2.js"></script>
<script src="services/kanjidic2.js"></script>
<script src="services/helpers.js"></script>
</body>
</html>
