<!DOCTYPE html>
<html ng-app="mecab-translate">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mecab-translate</title>
    <link href="stylesheets/client.css" rel="stylesheet" type="text/css">
    <script src="vendor/angular.min.js"></script>
</head>
<body keypress-events>
    <!-- Config menu -->
    <div style="position: fixed; top: 0px; left: 0px; z-index: 2;" ng-controller="ConfigMenu">
        <div class="clickable" id="config-button" ng-click="toggleShowConfigMenu()" style="display: inline-block;">&#9881;</div>
        <div ng-show="showConfigMenu" id="config-menu">
            <h4>TTS</h4>
            <div>
                <select ng-model="ttsProvider" ng-change="updateTts()">
                    <option value="responsivevoice">ResponsiveVoice (internet connection required)</option>
                    <option ng-repeat="v in voices" value="tts.{{v.id}}">{{v.desc}}</option>
                    <option value="remotetts">Remote SAPI5 on localhost port 9871</option>
                </select>
            </div>
            <h4>WebSocket input</h4>
            <div ng-show="wsInputConnected" style="color: green;">Connected</div>
            <div ng-show="!wsInputConnected" style="color: red;">Disconnected</div>
            <div>
                <input type="text" placeholder="host:port" ng-model="websocketInputHost" ng-change="websocketInputConnect()">
            </div>
            <h4>show/hide</h4>
            <div>
                <label><input type="checkbox" ng-model="showHistoryNavigationButtons" ng-click="setConfig('show-history-navigation-buttons', showHistoryNavigationButtons)">Show history navigation buttons (hotkeys always available)</label>
            </div>
            <div>
                <label><input type="checkbox" ng-model="showTextInput" ng-click="setConfig('show-text-input', showTextInput)">Show text input area</label>
            </div>
            <div>
                <label><input type="checkbox" ng-model="showMecabInfo" ng-click="setConfig('show-mecab-info', showMecabInfo)">Show mecab info</label>
            </div>
            <div>
                <label><input type="checkbox" ng-model="showKanjiInfo" ng-click="setConfig('show-kanji-info', showKanjiInfo)">Show kanji info</label>
            </div>
            <div>
                <label><input type="checkbox" ng-model="showKanjiPartBrowser" ng-click="setConfig('show-kanji-part-browser', showKanjiPartBrowser)">Show kanji part browser</label>
            </div>
            <h4>Features</h4>
            <div>
                <label><input type="checkbox" ng-model="nonClickMode" ng-click="setConfig('non-click-mode', nonClickMode)">Non-click mode (Alt+n)</label>
            </div>
            <div>
                <label><input type="checkbox" ng-model="contextBasedSearch" ng-click="setConfig('context-based-search', contextBasedSearch)">Context-based search</label>
            </div>
            <div>
                <div>Limit output line length (break line after 。、！？/は,が,を...)</div>
                <input class="config-textinput" type="text" ng-model="outputLineMaxLength" ng-change="setConfig('output-line-max-length', outputLineMaxLength)">
            </div>
            <div>
                <div>External links</div>
                <div ng-repeat="externalSite in externalSites">
                    <div>
                        <label><input type="checkbox" ng-model="externalSite.aboveResults" ng-change="saveExternalSites()">above results</label>
                        <label><input type="checkbox" ng-model="externalSite.nextToWords" ng-change="saveExternalSites()">next to words</label>
                        <label><input type="checkbox" ng-model="externalSite.nextToReadings" ng-change="saveExternalSites()">next to readings</label>
                    </div>
                    <input ng-change="saveExternalSites()" class="config-textinput" placeholder="name" ng-model="externalSite.name">
                    <input ng-change="saveExternalSites()" placeholder="http://site.tld/s?q=%QUERY%" ng-model="externalSite.url">
                    <span class="clickable" ng-click="removeExternalSite($index)">[x]</span>
                </div>
                <div><span class="clickable" ng-click="addExternalSite()">[+]</span></div>
            </div>
            <h4>styles</h4>
            <div>
                <div>Output font size</div>
                <input class="config-textinput" type="text" ng-model="outputFontSize" ng-change="setConfig('output-font-size', outputFontSize)">
            </div>
            <div>
                <div>Output max height</div>
                <input class="config-textinput" type="text" ng-model="outputMaxHeight" ng-change="setConfig('output-max-height', outputMaxHeight)">
            </div>
            <div>
                <div>Kanji part browser size</div>
                <input class="config-textinput" type="text" ng-model="kanjiPartBrowserSize" ng-change="setConfig('kanji-part-browser-size', kanjiPartBrowserSize)">
            </div>
            <div>
                <div>Similar kanji size</div>
                <input class="config-textinput" type="text" ng-model="similarKanjiSize" ng-change="setConfig('similar-kanji-size', similarKanjiSize)">
            </div>
        </div>
    </div>
    <!-- Kanji radical input -->
    <div ng-class="{'busy': locked}" id="kanji-radical-input" ng-controller="RadicalInput" ng-show="showRadicalInput">
        <div id="radical-input-multichar">
            <div style="display: inline-block;" ng-show="before">{{before}} | </div>
            <div
                class="clickable"
                ng-style="{'color': (charIndex == $index &amp;&amp; 'red') || 'black'}"
                ng-click="changeChar($index)" ng-repeat="c in selectedRadicals track by $index"
                style="display: inline-block; text-align: center;">{{multicharText(c)}}</div>
            <div style="display: inline-block;" ng-show="after"> | {{after}}</div>
            <form style="display: inline-block;" ng-show="showInputEdit" ng-submit="toggleInputEdit()">
                <input style="width: 80px;" ng-model="inputEdit"></input>
            </form>
            <div ng-click="toggleInputEdit()" class="clickable" style="display: inline-block; width: 1.5em; text-align: center;">[e]</div>
            <div ng-click="removeChar()" class="clickable" style="display: inline-block; background-color: blue; width: 1.5em; text-align: center;">[-]</div>
            <div ng-click="addChar()" class="clickable" style="display: inline-block; background-color: red; width: 1.5em; text-align: center;">[+]</div>
            <div ng-click="commitText()" class="clickable" style="display: inline-block; background-color: green; width: 1.5em; text-align: center;">[&#10003;]</div>
            <div ng-click="resetText()" class="clickable" style="display: inline-block;">[&#8635;]</div>
            <div ng-click="showRadicalInput = false;" class="clickable" style="position: absolute; right: 0%; display: inline-block; background-color: red;">[x]</div>
        </div>
        <div id="radical-input-candidates">
            <div
                ng-click="commitCharacter(k[0])"
                class="clickable radical-input-candidate"
                ng-repeat="k in radicalInputCandidates[charIndex]"
                ng-style="{'color': blend([255,0,0], [0,0,0], (k[1] || 2500)/2500)}">{{k[0]}}</div>
        </div>
        <hr>
        <div id="radical-input-radicals">
            <input
                style="max-width: 200px;"
                ng-change="decomposeText(decomposeInput[charIndex])"
                ng-model="decomposeInput[charIndex]"
                placeholder="例えば->⺅歹⺉"></input>
            <div class="clickable" style="display: inline-block; font-size: 24px;" ng-click="resetRadicals()">&#8635;</div>
            <div
                ng-class="[r.class, {'unobtrusive': r.invalid &amp;&amp; r.class == 'radical-input-radical'}, {'selected': r.selected}, {'clickable': r.class == 'radical-input-radical' &amp;&amp; !r.invalid}, {'highlight': r.decomposed}]"
                ng-repeat="r in radicalInputRadicals"
                ng-click="toggleRadical(r.text, r.invalid || r.class == 'radical-input-label')">{{r.alt_text || r.text}}</div>
        </div>
    </div>
    <!-- Text input area -->
    <div ng-controller="Input">
        <div ng-show="showTextInput">
            <form style="display: inline-block;" ng-init="inputMode = 'parser'">
                <label><input type="radio" ng-model="inputMode" value="parser">MeCab</label>
                <label><input type="radio" ng-model="inputMode" value="wildcard">Word lookup</label>
            </form>
            <button ng-click="toggleRadicalInput()">Radical input</button>
            <div ng-show="inputMode == 'parser'">
                <textarea ng-model="textInput" ng-change="analyze()" id="text-input"></textarea>
            </div>
            <div ng-show="inputMode == 'wildcard'">
                <form ng-submit="translateWildcard(wildcardSearch, wildcardMode)">
                    <input type="text" ng-model="wildcardSearch">
                    <input type="submit">
                    <label ng-init="lookupSelected = true"><input type="checkbox" ng-model="lookupSelected">Update with selected text</label>
                </form>
                <form ng-init="wildcardMode = 'plain'">
                    <label><input type="radio" ng-model="wildcardMode" value="plain">plain</label>
                    <label><input type="radio" ng-model="wildcardMode" value="startswith">startswith*</label>
                    <label><input type="radio" ng-model="wildcardMode" value="endswith">*endswith</label>
                    <label><input type="radio" ng-model="wildcardMode" value="anywhere">*anywhere*</label>
                    <label><input type="radio" ng-model="wildcardMode" value="middle">+middle+</label>
                    <label><input type="radio" ng-model="wildcardMode" value="okurigana">送<span class="unobtrusive">り</span>仮名</label>
                </form>
            </div>
        </div>
        <div id="input-history" ng-show="showButtons">
            <button title="Alt+1" id="input-history-back" ng-click="analyzeHistory(-1)" disabled>&#8678;</button>
            <button title="Alt+2" id="input-history-forward" ng-click="analyzeHistory(1)" disabled>&#8680;</button>
        </div>
    </div>
    <!-- Analyzed output -->
    <div ng-controller="Output" ng-mousedown="pauseNonClickMode()" ng-mouseup="translateSelection()" ng-mouseenter="resumeNonClickMode()">
        <div ng-style="{'font-size': outputFontSize + 'px', 'max-height': outputMaxHeight, 'overflow-y': (outputMaxHeight != 'none' &amp;&amp; 'scroll') || 'show'}" id="output">
            <div
                ng-class="mouseInside ? 'bg-highlight' : ''"
                ng-repeat="line in lines track by $index"
                ng-mouseenter="mouseInside = true"
                ng-mouseleave="mouseInside = false"
                ng-init="ttsRow = $index">
                <div class="clickable tts-button unobtrusive" ng-mousedown="$event.stopPropagation()" ng-click="TTS(line, true); updateRow(ttsRow)" ng-class="mouseInside ? '' : 'hide'">[TTS]</div>
                <div class="line" ng-class="'row-' + $index"><!--
                 --><div
                        class="clickable word"
                        ng-repeat="word in line"
                        ng-class="posClass(word.pos)"
                        ng-click="showWordInfo(word, null, [$parent.$index, $index])"
                        ng-mouseenter="showWordInfo(word, true, [$parent.$index, $index])"
                        ng-mouseleave="clearWordInfoQueue(); hideTooltip(word)"><!--
                     --><div
                            class="character"
                            ng-repeat="char in word.literal track by $index"
                            ng-mousedown="pauseNonClickMode(word)"
                            ng-click="getKanjiInfo(char)"
                            ng-mouseenter="getKanjiInfo(char, true); showTooltip(word, $event)"
                            ng-mouseleave="clearKanjiInfoQueue()"><!--
                         -->{{char}}<!--
                     --></div><!--
                     --><div
                            class="word-tooltip"
                            ng-style="{'left': (word.right < word.width ? word.right - word.width : 0) + 'px', 'width': word.width + 'px'}"
                            ng-click="$event.stopPropagation()"
                            ng-mouseenter="hideTooltip(word)"
                            ng-if="word.tooltip">
                            <div ng-if="word.reading">
                                {{word.reading}}
                                <span ng-if="word.inflection_type">
                                    <span class="unobtrusive">|</span>
                                    {{mecabInfoTranslation('inflection', word)}}
                                </span>
                            </div>
                            <hr ng-if="word.reading">
                            <div ng-class="{'hide': !kanjidicInfo.literal}">{{kanjidicInfo.literal}}: <span ng-repeat="meaning in kanjidicInfo.meaning">{{meaning}}<span class="unobtrusive" ng-if="!$last"> | </span></span></div>
                            <hr>
                            <div ng-repeat="entry in jmdictEntries">
                                <div style="font-size: 18px;">
                                    <span ng-class="{'common': word.common}" ng-repeat="word in entry.words">{{word.text}}<span ng-if="!$last">, </span></span>
                                    <span ng-if="entry.words.length">(</span><span ng-class="{'common': reading.common}" ng-repeat="reading in entry.readings">{{reading.text}}<span ng-if="!$last">, </span></span><span ng-if="entry.words.length">)</span>
                                </div>
                                <div ng-repeat="translation in entry.translations">
                                    <span>{{$index + 1}}.</span>
                                    <span ng-repeat="pos in translation.pos"><span class="part-of-speech">{{pos[0]}}</span><span ng-if="!$last">, </span></span>
                                    <span ng-repeat="gloss in translation.gloss" class="translation">
                                        <span>{{gloss}}</span><span ng-if="!$last" class="unobtrusive"> | </span>
                                    </span>
                                </div>
                                <hr ng-if="!$last">
                            </div>
                        </div><!--
                 --></div><!--
             --></div>
            </div>
        </div>
        <div style="font-size: 10px;" class="unobtrusive" ng-class="{'hide': !nonclick}">Non-click mode activated.</div>
        <div ng-show="showMecabInfo" ng-if="word.pos" class="mecab-info">
            <b>Pos: </b>{{mecabInfoTranslation('pos', word)}}
            <b>Infl.: </b>{{mecabInfoTranslation('inflection', word)}}
            <b>Lemma: </b>{{word.lemma}}
            <b>Reading: </b><span class="clickable" ng-if="word.reading" ng-click="TTS(word.hatsuon || word.reading)">{{word.reading}}</span>
        </div>
        <hr>
    </div>
    <!-- Kanji info -->
    <div ng-controller="KanjiInfo" ng-show="showKanjiInfo">
        <div id="interactive-kanji" ng-controller="InteractiveKanji" style="display: inline-block;"></div>
        <table ng-if="kanjidicInfo.literal" class="kanjidic-info">
            <tr>
                <td><b>Kanji</b></td>
                <td>
                    <span style="font-size: 28px;">{{kanjidicInfo.literal}}</span>
                    <!--TODO add radicals-->
                    <span
                        ng-if="originalKanjiPart &amp;&amp; ((kanjidicInfo.literal == kanji) || (kanjidicInfo.literal == originalKanjiPart) || kanjiPartMouseOver)"
                        ng-click="getKanjiInfo(originalKanjiPart)"
                        ng-mouseenter="getKanjidic2(originalKanjiPart); getSimilarKanji(originalKanjiPart)"
                        ng-mouseleave="getKanjidic2(kanji); getSimilarKanji(kanji)"
                        class="clickable">({{originalKanjiPart}})</span>
                </td>
            </tr>
            <tr>
                <td><b>Meaning</b></td>
                <td>
                    <span ng-repeat="meaning in kanjidicInfo.meaning">
                        <span>{{meaning}}</span><span ng-if="!$last" class="unobtrusive"> | </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>On</b></td>
                <td>
                    <span ng-repeat="on in kanjidicInfo.on">
                        <span>{{on}}</span><span ng-if="!$last" class="unobtrusive"> | </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>Kun</b></td>
                <td>
                    <span ng-repeat="kun in kanjidicInfo.kun">
                        <span>{{kun}}</span><span ng-if="!$last" class="unobtrusive"> | </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>Nanori</b></td>
                <td>
                    <span ng-repeat="nanori in kanjidicInfo.nanori">
                        <span>{{nanori}}</span><span ng-if="!$last" class="unobtrusive"> | </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>Misc.</b></td>
                <td>
                    <span class="abbr" ng-if="kanjidicInfo.grade" title="Grade: {{kanjiGrade(kanjidicInfo.grade, true)}}">{{kanjiGrade(kanjidicInfo.grade)}}{{kanjidicInfo.grade}}</span>
                    <span ng-if="kanjidicInfo.grade" class="unobtrusive">|</span>
                    <span class="abbr" title="Stroke count">{{kanjidicInfo.stroke_count}}s</span>
                    <span ng-if="kanjidicInfo.freq" class="unobtrusive">|</span>
                    <span class="abbr" ng-if="kanjidicInfo.freq" title="Frequency" ng-style="{'color': blend([255,0,0], [0,0,0], (kanjidicInfo.freq || 2500)/2500)}">{{kanjidicInfo.freq}}</span>
                    <span ng-if="kanjidicInfo.jlpt" class="unobtrusive">|</span>
                    <span class="abbr" ng-if="kanjidicInfo.jlpt" title="JLPT N{{kanjidicInfo.jlpt}}">N{{kanjidicInfo.jlpt}}</span>
                </td>
            </tr>
            <tr>
                <td><b>Similar</b></td>
                <td ng-style="{'font-size': similarKanjiSize + 'px'}">
                    <span
                        class="clickable"
                        ng-repeat="k in similarKanji"
                        ng-style="{'color': blend([255,0,0], [0,0,0], k[1]/2500)}"
                        ng-click="getKanjiInfo(k[0])"
                        ng-mouseenter="getKanjidic2(k[0])"
                        ng-mouseleave="getKanjidic2(kanji)">{{k[0]}} </span>
                        <span>&nbsp;</span>
                </td>
            </tr>
        </table>
        <div ng-show="showKanjiPartBrowser" ng-style="{'font-size': kanjiPartBrowserSize + 'px'}">
            <form ng-if="kanjivgParts">
                <label ng-repeat="part in kanjivgParts track by $index">
                    <input
                        type="checkbox"
                        ng-model="selectedKanjivgParts[$index]"
                        value="{{part}}"
                        ng-click="getKanjiVGCombinations()"
                    > <span
                        ng-mouseenter="getKanjidic2(part); getSimilarKanji(part)"
                        ng-mouseleave="getKanjidic2(kanji); getSimilarKanji(kanji)">{{part}}</span>
                </label>
            </form>
            <span
                ng-repeat="k in kanjivgCombinations"
                class="clickable"
                ng-style="{'color': blend([255,0,0], [0,0,0], k[1]/2500)}"
                ng-click="getKanjiInfo(k[0])"
                ng-mouseenter="getKanjidic2(k[0]); getSimilarKanji(k[0])"
                ng-mouseleave="getKanjidic2(kanji); getSimilarKanji(kanji)">{{k[0]}} </span>
        </div>
        <hr>
    </div>
    <!-- Translation -->
    <div ng-controller="Translation">
        <div ng-if="query">
            Results for 「{{query}}」<a target="_blank" ng-href="{{externalLink(externalSite.url, query)}}" ng-repeat="externalSite in externalSites" ng-if="externalSite.aboveResults">[{{externalSite.name}}]</a>
        </div>
        <div ng-if="shorterEntries" class="warning">
            No exact matches! Did you mean...
        </div>
        <ul>
            <li ng-repeat="entry in entries">
                <div style="font-size: 28px">
                    <span ng-repeat="word in entry.words">
                        <span
                            ng-class="{'common': word.common}"
                            ng-attr-title="{{word.pri.join(', ')}}"
                        ><span ng-repeat="char in word.text track by $index" class="clickable" ng-click="getKanjiInfo(char)">{{char}}</span></span><span
                            ng-if="word.inf.length"
                            class="unobtrusive"
                        >(<span ng-repeat="inf in word.inf"><span class="abbr" ng-attr-title="{{inf[1]}}">{{inf[0]}}</span><span ng-if="!$last">, </span></span>)</span><!--
                     --><a
                            class="unobtrusive"
                            style="font-size: 16px;"
                            target="_blank"
                            ng-href="{{externalLink(externalSite.url, word.text)}}"
                            ng-repeat="externalSite in externalSites"
                            ng-if="externalSite.nextToWords">[{{externalSite.name}}]</a><!--
                     --><span ng-if="!$last">, </span>
                    </span>
                </div>
                <div ng-style="{'font-size': entry.words.length ? '20px' : '28px'}">
                    <span ng-repeat="reading in entry.readings">
                        <span
                            class="clickable"
                            ng-class="{'common': reading.common}"
                            ng-attr-title="{{reading.pri.join(', ')}}"
                            ng-click="translate(reading.text)"
                        >{{reading.text}}</span><span
                            ng-if="reading.inf.length"
                            class="unobtrusive"
                        >(<span ng-repeat="inf in reading.inf"><span class="abbr" ng-attr-title="{{inf[1]}}">{{inf[0]}}</span><span ng-if="!$last">, </span></span>)</span><span
                            ng-if="reading.restr.length"
                            class="unobtrusive"
                        >({{reading.restr.join(', ')}})</span><!--
                     --><a
                            class="unobtrusive"
                            style="font-size: 16px;"
                            target="_blank"
                            ng-href="{{externalLink(externalSite.url, reading.text)}}"
                            ng-repeat="externalSite in externalSites"
                            ng-if="entry.words.length ? externalSite.nextToReadings : externalSite.nextToWords">[{{externalSite.name}}]</a><!--
                     --><span ng-if="!$last">, </span>
                    </span>
                </div>
                <ol>
                    <li ng-repeat="translation in entry.translations">
                        <span ng-repeat="pos in translation.pos"><span class="abbr part-of-speech" ng-attr-title="{{pos[1]}}">{{pos[0]}}</span><span ng-if="!$last">, </span></span>
                        <span ng-if="translation.stagk.length" class="unobtrusive">({{translation.stagk.join(', ')}} only)</span>
                        <span ng-if="translation.stagr.length" class="unobtrusive">({{translation.stagr.join(', ')}} only)</span>
                        <span ng-if="translation.misc.length" class="unobtrusive">
                            (<span ng-repeat="misc in translation.misc"><span class="abbr" ng-attr-title="{{misc[1]}}">{{misc[0]}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-if="translation.s_inf.length" class="unobtrusive">({{translation.s_inf.join(', ')}})</span>
                        <span ng-if="translation.dial.length" class="unobtrusive">
                            (<span ng-repeat="dial in translation.dial"><span class="abbr" ng-attr-title="{{dial[1]}}">{{dial[0]}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-if="translation.field.length" class="unobtrusive">
                            {<span ng-repeat="field in translation.field"><span class="abbr" ng-attr-title="{{field[1]}}">{{field[0]}}</span><span ng-if="!$last">, </span></span>}
                        </span>
                        <span ng-if="translation.xref.length" class="unobtrusive">(See
                            <span ng-repeat="xref in translation.xref"><span ng-click="translate(parseReference(xref))" class="clickable reference">{{xref}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-if="translation.ant.length" class="unobtrusive">(ant:
                            <span ng-repeat="ant in translation.ant"><span ng-click="translate(parseReference(ant))" class="clickable reference">{{ant}}</span><span ng-if="!$last">, </span></span>)
                        </span>
                        <span ng-repeat="gloss in translation.gloss" class="translation">
                            <span>{{gloss}}</span><span ng-if="!$last" class="unobtrusive"> | </span>
                        </span>
                        <span ng-if="translation.lsource.length" ng-repeat="lsource in translation.lsource" class="unobtrusive">({{lsource.join(': ')}})</span>
                        <span class="unobtrusive clickable reference" ng-if="translation.example" ng-click="translation.showExample = !translation.showExample">[example]</span>
                        <span ng-if="translation.showExample" class="unobtrusive">
                            <br>
                            <span ng-repeat="part in translation.example.jpn track by $index" ng-style="{'color': part.form ? 'red' : ''}">{{part.text}}</span>
                            <br>
                            <span>{{translation.example.eng}}</span>
                        </span>
                    </li>
                </ol>
                <hr ng-if="!$last">
            </li>
        </ul>
        <ul>
            <li ng-repeat="r in regexResults">
                <div ng-click="translate(r)" style="font-size: 20px; display: inline-block;" class="clickable">{{r}}</div>
            </li>
        </ul>
        <div>
            <button ng-click="showLongerEntries()" ng-if="longerEntries.length">More words starting with {{query}} ({{longerEntries.length}})</button>
            <div ng-repeat="entry in longerEntryListing"><span class="clickable" ng-click="translate(entry)">{{entry}}</span></div>
        </div>
    </div>

<script src="client.js"></script>
<script src="controllers/input.js"></script>
<script src="controllers/output.js"></script>
<script src="controllers/translation.js"></script>
<script src="controllers/configmenu.js"></script>
<script src="controllers/radicalinput.js"></script>
<script src="controllers/kanji-info.js"></script>
<script src="controllers/interactive-kanji.js"></script>

<script src="services/mecab.js"></script>
<script src="services/jmdict_e.js"></script>
<script src="services/kanjidic2.js"></script>
<script src="services/radkfile.js"></script>
<script src="services/kanjivg.js"></script>
<script src="services/kanjivgparts.js"></script>
<script src="services/similarkanji.js"></script>
<script src="services/responsivevoice.js"></script>
<script src="services/remotetts.js"></script>
<script src="services/tts.js"></script>
<script src="services/tts_events.js"></script>
<script src="services/websocket-input.js"></script>
<script src="services/eventbridge.js"></script>
<script src="services/config.js"></script>
<script src="services/helpers.js"></script>
</body>
</html>
