body {
    line-height: 1.2;
    font-family: 'MS PGothic', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

.important {
    border-style: dotted;
    border-width: 1px;
    white-space: nowrap;
}

.reference {
    text-decoration: underline;
    white-space: nowrap;
}

.clickable {
    cursor: pointer;
}

.translation {

}

.part-of-speech {
    color: blue;
}

.unobtrusive {
    color: #999;
}

.mecab-info {
    display: inline-block;
}

.kanjidic-info {
    display: inline-block;
    max-width: 400px;
}

.common {
    color: red;
}

.word {
    margin: 4px;
}

.word:hover {
    background-color: #bbb;
}

.character {

}

.abbr:after {
    content: "?";
    vertical-align: super;
    font-size: 9px;
}

.character:hover {
    background-color: #777;
}

#output {
    font-size: 36px;
}


.noun, .proper-noun, .pronoun {
    border-bottom: 3px solid #A0FFA0;
}

.preposition, .postposition {
    border-bottom: 3px solid #8090FF;
}

.prefix, .suffix {
    border-bottom: 3px solid #A0B0FF;
}

.conjunction {
    border-bottom: 3px solid #A0C0FF;
}

.verb {
    border-bottom: 3px solid #FF4040;
}

.adjective {
    border-bottom: 3px solid #FF7070;
}

.adverb {
    border-bottom: 3px solid #FF9090;
}

.determiner {
    border-bottom: 3px solid #FFB0B0;
}

.interjection {
    border-bottom: 3px solid #FFFFA0;
}

.number {
    border-bottom: 3px solid #50FFFF;
}
