body {
    line-height: 1.2;
    font-family: 'MS PGothic', Arial, sans-serif;
    overflow-y: scroll;
    padding-bottom: 600px;
    padding-bottom: 95vh;
}

ul {
    list-style-type: none;
}

#text-input {
    width: 90%;
}

#config-menu {
    background-color: white;
    border-style: solid;
    max-width: 800px;
    width: 80vw;
    max-height: 800px;
    max-height: 80vh;
    overflow: scroll;
}

#config-button {
    opacity: 0.4;
}

.config-textinput {
    width: 50px;
}

#kanji-radical-input {
    position: fixed;
    bottom: 10px;
    left: 0px;
    z-index: 1;
    max-width: 550px;
    width: 97%;
    background-color: white;
    border-style: solid;
    max-height: 600px;
    max-height: 80vh;
}

#kanji-radical-input.busy {
    border-color: red;
}

#radical-input-multichar {
    font-size: 20px;
}

#radical-input-candidates {
    height: 80px;
    overflow-y: scroll;
}

.radical-input-candidate {
    display: inline-block;
    font-size: 24px;
}

#radical-input-radicals {
    overflow-y: scroll;
    max-height: 500px;
    max-height: 45vh;
}

.radical-input-radical {
    display: inline-block;
    font-size: 24px;
}

.radical-input-radical.selected {
    background-color: yellow;
}

.radical-input-radical.highlight {
    background-color: red;
}

.radical-input-radical.highlight.selected {
    background-color: orange;
}

.radical-input-label {
    display: inline-block;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 24px;
    width: 1.2em;
}

.warning {
    color: red;
}

.reference {
    text-decoration: underline;
    white-space: nowrap;
}

.clickable {
    cursor: pointer;
}

.translation {

}

.part-of-speech {
    color: blue;
}

.unobtrusive {
    color: #999;
}

.kanjidic-info {
    display: inline-block;
    width: 400px;
    min-width: 60%;
    max-width: 95%;
    overflow-x: scroll;
}

.kanjidic-info td {
    white-space: nowrap;
}

.common {
    color: red;
}

.word {
    margin: 4px;
    display: inline-block;
    position: relative;
}

.word:hover {
    background-color: #bbb;
}

.word-tooltip {
    background-color: white;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    cursor: initial;
    border-style: solid;
}

.character {
    display: inline-block;
}

.abbr:after {
    content: "?";
    vertical-align: super;
    font-size: 9px;
}

.character:hover {
    background-color: #777;
}

#output {

}

.line {
    width: 90%;
    display: inline-block;
}

.hide {
    visibility: hidden;
}

.tts-button {
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
}

.bg-highlight {
    background-color: #f9f9f9;
}

.noun, .proper-noun, .pronoun {
    border-bottom: 3px solid #A0FFA0;
}

.preposition, .postposition {
    border-bottom: 3px solid #8090FF;
}

.particle {
    border-bottom: 3px solid #8090FF;
}

.prefix, .suffix {
    border-bottom: 3px solid #A0B0FF;
}

.conjunction {
    border-bottom: 3px solid #A0C0FF;
}

.verb, .aux-verb {
    border-bottom: 3px solid #FF4040;
}

.i-adjective, .na-adjective {
    border-bottom: 3px solid #FF7070;
}

.adverb {
    border-bottom: 3px solid #FF9090;
}

.prenoun {
    border-bottom: 3px solid #FFB0B0;
}

.interjection {
    border-bottom: 3px solid #FFFFA0;
}

.number {
    border-bottom: 3px solid #50FFFF;
}
